.form-focus .control-label {
    padding-left: 15px;
}

.fa {
    padding: 5px;
    cursor: pointer;
}

.fa.disabled {
    opacity: .5;
    cursor: default;
}

.btn-primary[disabled]:hover, .btn-primary[disabled] {
    background-color: #ff851a;
    border: 1px solid #ff851a;
}