<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll-wrap">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li *ngIf="this.isAdmin" routerLinkActive="active"><a routerLink="users/all">Liste des salariés </a></li>
        <li *ngIf="this.isAdmin" routerLinkActive="active"><a routerLink="users/add">Ajouter un salarié </a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="profile">Mon profile </a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="profile/edit">Modifier mon profile </a></li>
      </ul>

    </div>
    <div class="cover-bar"></div>
  </div>
</div>