<div style="color: red;">

  <div class="bg">
    <h3 class="account-title">LOGIN</h3>
    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="javascript:"><img src="assets/img/avatar.png" alt="Focus Technologies"></a>
        </div>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <div *ngIf="this.error === true" class="alert alert-danger" role="alert">Invalid email or password</div>

          <div [class.has-error]="userForm.get('email').invalid" class="form-group form-focus">
            <label [class.is-dirty]="userForm.get('email').dirty" class="control-label" placeholder="Email">Email</label>
            <input class="form-control floating" type="email" formControlName="email" required>
          </div>


          <div [class.has-error]="userForm.get('password').invalid" class="form-group form-focus">
            <label [class.is-dirty]="userForm.get('password').dirty" class="control-label" placeholder="Password">Password</label>
            <input class="form-control floating" type="password" formControlName="password" required>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary btn-block account-btn" [disabled]="this.loading">
              <span *ngIf="this.loading" class="spin-loader"></span>
              <span *ngIf="!this.loading">Login</span>
            </button>
          </div>

        </form>
      </div>
    </div>